@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

:root {
  --blue: #005ae2;
  --white: #fff;
}

/* General styles */
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: var(--white);
  color: #333;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Gilroy-Bold", sans-serif;
}

p {
  font-family: "Gilroy-Medium", sans-serif;
}   

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  border: none;
}

button:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 3px solid var(--blue);
}

.blue-highlight {
  color: var(--blue);
}

/* Hero Frame Style */
.hero-frame {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 50px;
}

li {
  font-size: 18px;
}

li a:hover {
  color: var(--blue);
}

.dropdown-arrow {
  margin-left: 5px;
}

.dropdown-arrow:hover {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.header-account {
  font-size: 16px;
}

.header-account a {
  color: var(--blue);
}
.header-account a:hover {
  text-decoration: underline;
}

.header-account button {
  padding: 10px 20px;
  border-radius: 25px;
}

.hero-main {
  text-align: center;
  padding: 50px 0;
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.hero-main h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 2;
}

#hero-subheading {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 50px;
}













/* About Frame Style */
.about-frame {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.header-section {
  display: flex-grid;
}
/* subscription-plans-frame Style */
.subscription-plans-frame {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

/* shortener-test-frame */
.shortener-test-frame {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

/* faq-frame */
.faq-frame {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

/* get-started-frame */
.get-started-frame {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

/* footer-frame */
.footer-frame {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
